#idmenu span{
    transition: background-color 1s;     
}

#idmenu span:hover{
    background-color: lightblue;
    border-radius: 0.5px;
}

#idmenu span:active {
    color:white;
    background-color: blue;
}

p{
    /* border-radius: 5px;
    box-shadow: 1px 1px 5px gray; /* offsetX, offsetY, blurRadius, color */
    /* padding: 10px; A침adir un poco de espacio alrededor del contenido del p치rrafo */ 
    margin-bottom: 2px;
    margin-top: 5px;
}

body{
    width:98%;
    height: 90vh;
}
 
#dvEditor{
    padding: 10px; 
    width:100%;
    height:90vh;
    overflow-y: auto;
} 
img[alt="Fin de la p치gina"] {
    /* Estilos para la imagen con el atributo alt igual a "Descripci칩n de la imagen" */
    display:block;
    margin: 0 auto;
  }
